.App {
    text-align: center;
    font-size: 25px;
    margin-top:20%;
}
.App-title {
    font-size: 50px;
}
.Clock-days, .Clock-minutes, .Clock-hours, .Clock-seconds {
    display: inline;
    margin: 10px;
}
.Dadline-input {
    font-size: 25px;
    margin: 5px;
}